future
emoji
lxml
wget
beautifulsoup4
requests
python-telegram-bot==13.11
youtube_search_python
sqlalchemy==1.4.40
PyDictionary
psycopg2-binary
feedparser
hachoir
pynewtonmath
spongemock
zalgo-text
geopy
nltk
psutil
aiohttp>=2.2.5
Pillow
CurrencyConverter
jikanpy
speedtest-cli
regex
bleach
ptbcontrib @ git+https://github.com/python-telegram-bot/ptbcontrib.git@907070d129b7cf80b0236d72fb498667b5b22b63
wikipedia
git+https://github.com/trentm/python-markdown2
telethon
telegraph
heroku3
alphabet_detector
pyrate-limiter
cachetools
ujson
pretty_errors
TgCrypto
Pyrogram
youtube_search
asyncio
dateparser
pymongo
dnspython
secureme
apscheduler
emoji-country-flag
countryinfo
html2text
bs4
opencv-python-headless
bing_image_downloader
search_engine_parser
pytz
pykeyboard
aiofiles
motor
python-arq
telegram
gpytranslate
yt_dlp
